{{ define "__title__" -}}
[{{ .Status | ToUpper }}{{ if eq .Status "firing" }}:{{ .Alerts | len }}{{ end }}] {{ index .GroupLabels.AlertName }}
{{- end }}


{{ define "__alertmanagerURL" -}}
{{ .ExternalURL }}/#/alerts?receiver={{ .Receiver }}
{{- end }}


{{ define "__content__" -}}
#### **\[{{ .Status | ToUpper }}{{ if eq .Status "firing" }}:{{ .Alerts | len }}{{ end }}\]** **[{{ index .GroupLabels.AlertName }}]({{ template "__alertmanagerURL" . }})**
{{- end }}


{{ define "__alerts_common_labels__" }}
{{ range .SortedAllowPairs }}
> **{{ .Name | Title }}**: {{ .Value | html }}
{{ end }}
{{- end }}


{{ define "__alerts_instance_lists__" }}
{{ range $i, $v := . }}
##### **警报: {{ Increase $i }}**
{{ range .Annotations.SortedAllowPairs }}
> ##### **{{ .Name | Title }}**: {{ .Value | html }}
{{ end }}
> ###### Report From **[Prometheus]({{ .GeneratorURL }})** at **{{ FormatTime .StartsAt }}**
{{- end }}
![screenshot](https://prom.i-morefun.net/MaineCoon.jpg)
{{- end }}


{{ define "__text__" -}}
{{ template "__content__" . }}
{{ template "__alerts_common_labels__" .CommonLabels }}
{{ template "__alerts_instance_lists__" .Alerts }}
{{- end }}
